<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="editDistanceProjectApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Finding the Edit Distance</h3>
      </div>

      <div ng-controller="MainCtrl">
        <div class="container">
          <form role="form" ng-submit="computeLevenshteinDistance(stringA, stringB, idWeight, sWeigth)">
            <div class="form-group">
              <label for="stringA">String A</label>
              <input type="text" class="form-control" id="stringA" ng-model="stringA" placeholder="Enter first string" ng-required="true">
            </div>
            <div class="form-group">
              <label for="stringB">String B</label>
              <input type="text" class="form-control" id="stringB" ng-model="stringB" placeholder="Enter second string" ng-required="true">
            </div>

            <h3>Parameters</h3>
            <div class="form-group">
              <label for="sWeight">Substitution Weight</label>
              <input type="text" class="form-control" id="sWeigth" ng-model="sWeigth" placeholder="Substition Weight">
            </div>

            <div class="form-group">
              <label for="idWeight">Insertion/Deletion Weight</label>
              <input type="text" class="form-control" id="idWeight" ng-model="idWeight" placeholder="Insertion/Deletion Weight">
            </div>

            <div class="form-group">
              <label for="threshold">Threshold</label>
              <input type="text" class="form-control" id="threshold" ng-model="threshold" placeholder="Toleraance Threshold">
            </div>

            <br>
            <button type="submit" class="btn btn-lg btn-success">Run It! <span class="glyphicon glyphicon-ok"></span></button>



          </form>

          <br>
          <pre ng-show="getLevenshtein">Levenshtein Distance is: {{getLevenshtein}}</pre>
          <div class="alert alert-info" ng-show="aboveThreshold">Above Threshold, arbitration must check</div>

        </div>



      </div>
    </div>
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
